[Desktop Entry]
Categories=Network;InstantMessaging;GTK;GNOME;
Name[fr]=Gajim
Name[pt]=Gajim
Name[el]=Gajim
Name[pl]=Gajim
Name[es]=Gajim
Name[ru]=Gajim
Name[bg]=Gajim
Name[de]=Gajim
Name[nb_NO]=Gajim
Name[cs]=Gajim
Name[nl]=Gajim
Name[pt_BR]=Gajim
Name[sv]=Gajim
Name[it]=Gajim
Name[eu]=Gajim
Name[sk]=Gajim
Name[zh_CN]=Gajim
Name[br]=Gajim
Name[eo]=Gajim
Name[hr]=Gajim
Name[en_GB]=Gajim
Name[be]=Gajim
Name[be@latin]=Gajim
Name[sr]=Гајим
Name[sr@Latn]=Gajim
Name[gl]=Gajim
Name[lt]=Gajim
Name[da]=Gajim
Name[uk]=Gajim
Name[ja]=Gajim
Name[kk]=Gajim
Name[he]=‫Gajim
Name[zh_TW]=Gajim
Name[hu]=Gajim
Name[tr]=Gajim
Name=Gajim
GenericName[fr]=Client de Messagerie Instantanée Jabber
GenericName[pt]=Cliente de IM Jabber
GenericName[el]=Ένα πρόγραμμα για το Jabber
GenericName[pl]=Klient komunikatora Jabber
GenericName[es]=Cliente de IM Jabber
GenericName[ru]=Jabber-клиент для мгновенных сообщений
GenericName[bg]=Джабър клиент за бързи съобщения
GenericName[de]=Jabber IM-Client
GenericName[nb_NO]=XMPP-lynmeldingsklient
GenericName[cs]=Jabber IM klient
GenericName[nl]=Jabber-IM-cliënt
GenericName[pt_BR]=Um cliente de IM Jabber
GenericName[sv]=Jabber-snabbmeddelandeklient
GenericName[it]=Client IM Jabber
GenericName[eu]=IM Jabber Bezeroa
GenericName[sk]=Jabber IM klient
GenericName[zh_CN]=Jabber 即时消息客户端
GenericName[br]=Flaperez Jabber
GenericName[eo]=Jabber-tujmesaĝilo
GenericName[hr]=Jabber IM Klijent
GenericName[en_GB]=Jabber IM Client
GenericName[be]=Jabber-праграма
GenericName[be@latin]=Klijent kamunikacyi dla Jabber
GenericName[sr]=Џабер IM Клијент
GenericName[sr@Latn]=Džaber IM Klijent
GenericName[gl]=Cliente de MI de Jabber
GenericName[lt]=Jabber IM Klientas
GenericName[da]=Jabber IM Klient
GenericName[uk]=Клієнт служби миттєвих повідомлень Jabber
GenericName[ja]=Jabber IM クライアント
GenericName[kk]=Jabber IM Клиенті
GenericName[he]=לקוח מסרים מידיים Jabber
GenericName[zh_TW]=Jabber 即時訊息客戶端
GenericName[hu]=Jabber Azonnali üzenetküldő kliens
GenericName[tr]=Jabber IM İstemcisi
GenericName=Jabber IM Client
Comment[fr]=Un client Jabber en GTK+
Comment[pt]=Cliente Jabber GTK+
Comment[el]=Ένα πρόγραμμα για το Jabber γραμμένο σε GTK+
Comment[pl]=Klient Jabbera w GTK+
Comment[es]=Un cliente de Jabber en GTK
Comment[ru]=Jabber-клиент на GTK+
Comment[bg]=Джабър клиент за GTK+
Comment[de]=Ein Jabber/XMPP-Client in GTK+
Comment[nb_NO]=En GTK+ -XMPP-klient
Comment[cs]=GTK+ Jabber klient
Comment[nl]=Een GTK+-Jabber-cliënt
Comment[pt_BR]=Um cliente Jabber GTK+
Comment[sv]=En GTK+-baserad Jabber-klient
Comment[it]=Un client Jabber GTK+
Comment[eu]=GTK+ Jabber bezeroa
Comment[sk]=GTK+ Jabber klient
Comment[zh_CN]=一个 GTK+ 的 Jabber 客户端
Comment[br]=Ur flaperez Jabber e GTK+
Comment[eo]=GTK+bazita jabber-kliento
Comment[hr]=GTK+ Jabber klijent
Comment[en_GB]=A GTK+ Jabber client
Comment[be]=Jabber-праграма для GTK+
Comment[be@latin]=Klijent Jabber dla GTK+
Comment[sr]=GTK+ Џабер клијент
Comment[sr@Latn]=GTK+ Džaber klijent
Comment[gl]=Un cliente de Jabber de GTK
Comment[lt]=GTK+ Jabber klientas
Comment[da]=En GTK+ Jabber klient
Comment[uk]=Jabber клієнт, що базується на GTK+
Comment[ja]=GTK+ Jabber クライアント
Comment[kk]=GTK+ Jabber қолданбасы
Comment[he]=לקוח ג׳אבּר GTK+‎
Comment[zh_TW]=一個 GTK+ 的 Jabber 客戶端
Comment[hu]=Egy GTK+ Jabber kliens
Comment[tr]=Bir GTK+ Jabber istemcisi
Comment=A GTK+ Jabber client
#Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[fr]=discussion;messagerie;messagerie instantanée;xmpp;bonjour;voip;
Keywords[de]=chat;messaging;im;jabber;xmpp;bonjour;voip;
Keywords[nb_NO]=sludring;meldingsforsendelse;lynmeldinger;xmpp;bonjour;voip;
Keywords[nl]=chat;messaging;berichten;gesprekken;im;xmpp;bonjour;voip;
Keywords[ja]=chat;messaging;im;xmpp;bonjour;voip;
Keywords=chat;messaging;im;xmpp;bonjour;voip;
Exec=gajim %u
#Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[fr]=org.gajim.Gajim
Icon[de]=org.gajim.Gajim
Icon[nl]=org.gajim.Gajim
Icon[ja]=org.gajim.Gajim
Icon=org.gajim.Gajim
StartupNotify=true
StartupWMClass=Gajim
Terminal=false
Type=Application
MimeType=x-scheme-handler/xmpp;
